p {
	margin-top: 20px;
}

ul {
	list-style: none;
}

li {
	display: inline;
	margin-right: 10px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
		height: 450px;
	}

#wedding-cake-text {
	float: left;
	margin-top: 10px;
}

#wedding-cake-carousel {
	float: right;
	margin-top: 40px;
	margin-left: 15px;
}


/*/////COOKIES AND CUPCAKES VIEW/////*/
#cupcake-text {
	float: left;
	margin-top: 10px;
}

#cupcake-carousel {
	float: right;
	margin-top: 40px;
	margin-left: 15px;
}


/*/////ALL CAKES VIEW/////*/
#cake-text {
	float: left;
	margin-top: 10px;
}

#cake-carousel {
	float: right;
	margin-top: 40px;
	margin-left: 15px;
}


/*/////GALLERY/MODAL/////*/
/*.modal-body {
	text-align: center;
}*/

.img-thumbnail {
	height: 200px;
}
