<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<p>Wedding Resources
		The Seattle Wedding Show
		Avant Bride
		Bravo Bride
		Seattle Metropolitan Bride and Groom

		Photographers
		Dani Weiss 
		Tasha Owen
		Laura Totten

		Flowers
		Bella Rugosa

		Candy Buffet
		Party With a K

		Venues
		The Salish Lodge
		SODO Park (Herban Feast)
		Seattle Yacht Club
		415 Westlake
		The Arctic Club
		The Edgewater
		Bell Harbor Conference Center
		World Trade Center
		Acalia
		Argosy Cruises
		Hotel Deca
		The Canal
		Plateau Club
		Hotel 1000
		Daybreak Star (Discovery Park)
		Golden Gardens
		Sandpoint Golf and Country Club
		Sanders Estate
		Robinswood and the Clise Mansion
		Rainier Golf and Country Club
		Inglewood Golf and Country Club
		Hidden Meadows
		Lord Hill Farm
		Pan Pacific Hotel
		Tyee Yacht Club (through Ravishing Radish)
		Woodinville Lavender
		Waterways Cruises</p>
	</div>
</div>