<div class="container">
	<div class="col-md-10 col-md-offset-1">
	<p>Email for general inquiries:
morfeyscake@gmail.com


Find us:
110 Denny Way
Seattle, Washington 98109

We are located on Denny Way between 1st Avenue and Western in the lower Queen Anne area of Seattle (two blocks west of the Pacific Science Center at Seattle Center).


Call us to place your cake orders:
206.283.8557


Hours:
Monday 8:00 a.m. to 4:00 p.m.

Tuesday-Friday 8:00 a.m. to 5:00 p.m.

Saturday 9:00 a.m. to 1:00 p.m.

Sunday Closed</p>
	</div>

</div>