<div class="container">

	<h1>Gallery</h1>

	<div ng-controller="GalleryCtrl">
<!--     <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
        </div>
        <div class="modal-body">
        	<img src="{{selected}}" height="450">
        </div>
       
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script> -->

<ul>
	<li ng-repeat="image in images">
	<a ng-click="openLightboxModal($index)">
      <img ng-src="{{image.url}}" class="img-thumbnail" height="200">
    </a>
  </li>
</ul>


<!--   <ul>
    <li ng-repeat="item in items track by $index"><a href=''><img src="{{item}}" height="200" ng-click="open()"></a></li>
  </ul> -->
	</div>

</div>